* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {    
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
} 

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;} 
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Belanosima&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, rgba(235,219,253,255), #BF9ADF);
    font-family: 'Belanosima', sans-serif;
}

.general-container { 
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 100%;

    background-color: rgba(22,18,52,255);
    border-radius: 60px;
    height: 90%;
    width: 95%;
}

.sidebar { 
    grid-area: 1 / 1;
    background-color: rgba(22,18,52,255);
    color: #FCFAFD;
    border-radius: 60px 0px 0px 60px;
    border: solid 15px rgba(22,18,52,255);
    border-right: 0px;
}

.central-content {
    grid-area: 1 / 2;
    background-color: #FCFAFD;
    border: solid 15px rgba(22,18,52,255);
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
}

.right-side-content {
    grid-area: 1 / 3;
    background-color: #FCFAFD;
    border-radius: 0px 60px 60px 0px;
    border: solid 15px rgba(22,18,52,255);
    border-left: 0px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid rgb(255, 255, 255);
}

.dots {
    width: 30px;
    height: 30px;
}
